[package]
name = "scouter-types"
version = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }

authors = [
  "Steven Forrester <sjforrester32@gmail.com>"
]

license = "MIT"
description = "Client and server contract for scouter"

[dependencies]
scouter-macro = { workspace = true }
scouter-semver = { workspace = true }
scouter-state = { workspace = true }
base64 = { workspace = true }
chrono = { workspace = true }
colored_json = { workspace = true }
cron = { workspace = true }
hex = { workspace = true }
opentelemetry = { workspace = true }
opentelemetry-proto = { workspace = true }
opentelemetry-otlp = { workspace = true }
rayon = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
potato-head = { workspace = true }
pyo3 = {workspace = true }
sqlx = { workspace = true, optional = true }
strum = { workspace = true }
strum_macros = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true}
tracing = { workspace = true }
statrs = { workspace = true }
num-traits = { workspace = true }
ndarray-stats = { workspace = true }
ndarray = { workspace = true }

[features]
mock = ["potato-head/mock"]
server = ["sqlx"]

[dev-dependencies]
tempfile = { workspace = true }
approx = { workspace = true }
ndarray-rand = { workspace = true }
rand = { workspace = true }

[profile.release]
lto = "fat"
codegen-units = 1
strip = true

