name: Publish-Github-Pages

on:
  push:
    branches:
      - main

  release:
    types: [published]

permissions:
  contents: write

jobs:
  PublishDocs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Protocol Buffers Compiler
        uses: arduino/setup-protoc@v3
        with:
          version: "33.2"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Publish Docs
        working-directory: ./py-scouter
        run: |
          make setup.project
          make publish.docs
